# Ignore everything by default
*

# Keep these files
!.gitignore
!README.md

# Keep samples folder
!samples/
!samples/**

# Keep the distributable binary
!src-tauri/
!src-tauri/target/
!src-tauri/target/release/
!src-tauri/target/release/netintent.exe
