# Ignore everything by default
*

# Keep these files
!.gitignore
!README.md

# Keep samples folder
!samples/
!samples/**

# Keep the distributable binary
!target/
!target/release/
!target/release/netintent.exe
