#
# Module devmgr configuration
#
configure snmp sysName "EXTREME-ACCESS-SW01"
configure snmp sysLocation "DC1-Row3-Rack10"
configure snmp sysContact "netops@lab.internal"
#
# ExtremeXOS version 31.7.1.4 by release-manager
# Creation time: Thu Jan 15 14:30:00 UTC 2026
# BootROM: 1.1.4.8
# Switch: X440-G2-24t-10GE4
#
configure timezone name UTC 0
configure timezone automatic-dst disabled

configure dns-client add name-server 10.0.0.10
configure dns-client add name-server 10.0.0.11
configure dns-client add domain-suffix lab.internal

configure ntp server add 10.0.0.10 prefer
configure ntp server add 10.0.0.11
enable ntp

configure syslog add 10.0.0.50:514 vr VR-Default local0 debug
enable syslog

configure snmp add community readonly "$snmpcomm1passphrase"
configure snmp add community readwrite "$snmpcomm2passphrase"
configure snmp add trapreceiver 10.0.0.50 community "$snmptrapkey"
enable snmp access
enable snmp traps

create vlan "Management" tag 99
create vlan "UserLAN" tag 10
create vlan "Voice" tag 20
create vlan "Servers" tag 30
create vlan "GuestWiFi" tag 40
create vlan "Quarantine" tag 999

configure vlan Management ipaddress 10.99.1.1/24
configure vlan Management description "OOB Management VLAN"
enable ipforwarding vlan Management

configure vlan UserLAN description "End User Workstations"
configure vlan Voice description "IP Telephony"
configure vlan Servers description "Server Farm"
configure vlan GuestWiFi description "Guest Wireless"
configure vlan Quarantine description "Quarantine - No Access"

configure vlan Management add port 1 tagged
configure vlan Management add port 2 tagged
configure vlan Management add port 3 tagged
configure vlan Management add port 24 untagged

configure vlan UserLAN add port 1 tagged
configure vlan UserLAN add port 2 tagged
configure vlan UserLAN add port 3 tagged
configure vlan UserLAN add port 5 untagged
configure vlan UserLAN add port 6 untagged
configure vlan UserLAN add port 7 untagged
configure vlan UserLAN add port 8 untagged
configure vlan UserLAN add port 9 untagged
configure vlan UserLAN add port 10 untagged
configure vlan UserLAN add port 11 untagged
configure vlan UserLAN add port 12 untagged

configure vlan Voice add port 1 tagged
configure vlan Voice add port 2 tagged
configure vlan Voice add port 3 tagged
configure vlan Voice add port 5 tagged
configure vlan Voice add port 6 tagged
configure vlan Voice add port 7 tagged
configure vlan Voice add port 8 tagged
configure vlan Voice add port 9 tagged
configure vlan Voice add port 10 tagged
configure vlan Voice add port 11 tagged
configure vlan Voice add port 12 tagged

configure vlan Servers add port 1 tagged
configure vlan Servers add port 2 tagged
configure vlan Servers add port 13 untagged
configure vlan Servers add port 14 untagged
configure vlan Servers add port 15 untagged
configure vlan Servers add port 16 untagged

configure vlan GuestWiFi add port 1 tagged
configure vlan GuestWiFi add port 17 untagged
configure vlan GuestWiFi add port 18 untagged

configure vlan Quarantine add port 19 untagged
configure vlan Quarantine add port 20 untagged
configure vlan Quarantine add port 21 untagged

configure port 1 description "UPLINK-TO-CORE-SW01-Gi0/5"
configure port 1 auto off speed 10000 duplex full

configure port 2 description "UPLINK-TO-DIST-SW01-Gi0/5"
configure port 2 auto off speed 10000 duplex full

configure port 3 description "UPLINK-TO-EXTREME-ACCESS-SW02"
configure port 3 auto off speed 1000 duplex full

configure port 4 description "SPARE-TRUNK-RESERVED"
disable port 4

configure port 5 description "USER-DESK-R3-01"
configure port 5 auto on
configure port 5 lldp port 5 advertise dot3-tlvs

configure port 6 description "USER-DESK-R3-02"
configure port 6 auto on
configure port 6 lldp port 6 advertise dot3-tlvs

configure port 7 description "USER-DESK-R3-03"
configure port 7 auto on
configure port 7 lldp port 7 advertise dot3-tlvs

configure port 8 description "USER-DESK-R3-04"
configure port 8 auto on

configure port 9 description "USER-DESK-R3-05"
configure port 9 auto on

configure port 10 description "USER-DESK-R3-06"
configure port 10 auto on

configure port 11 description "USER-DESK-R3-07"
configure port 11 auto on

configure port 12 description "USER-DESK-R3-08"
configure port 12 auto on

configure port 13 description "SERVER-APP01"
configure port 13 auto off speed 1000 duplex full

configure port 14 description "SERVER-APP02"
configure port 14 auto off speed 1000 duplex full

configure port 15 description "SERVER-DB01"
configure port 15 auto off speed 1000 duplex full

configure port 16 description "SERVER-DB02"
configure port 16 auto off speed 1000 duplex full

configure port 17 description "AP-GUEST-WIFI-3A"
configure port 17 auto on

configure port 18 description "AP-GUEST-WIFI-3B"
configure port 18 auto on

configure port 19 description "QUARANTINE-UNUSED-A"
configure port 19 auto on
disable port 19

configure port 20 description "QUARANTINE-UNUSED-B"
configure port 20 auto on
disable port 20

configure port 21 description "QUARANTINE-UNUSED-C"
configure port 21 auto on
disable port 21

configure port 22 description "SPARE-DISABLED"
disable port 22

configure port 23 description "SPARE-DISABLED"
disable port 23

configure port 24 description "MGMT-CONSOLE-ACCESS"
configure port 24 auto on

configure stpd s0 delete port all
disable stpd s0 auto-bind vlan Default
create stpd STPD-MAIN
configure stpd STPD-MAIN mode mstp
configure stpd STPD-MAIN priority 8192
configure stpd STPD-MAIN add vlan Management ports all tagged
configure stpd STPD-MAIN add vlan UserLAN ports all tagged
configure stpd STPD-MAIN add vlan Voice ports all tagged
configure stpd STPD-MAIN add vlan Servers ports all tagged
configure stpd STPD-MAIN ports 1 edge-safeguard enable
configure stpd STPD-MAIN ports 2 edge-safeguard enable
configure stpd STPD-MAIN ports 5-12 edge-port
configure stpd STPD-MAIN ports 13-16 edge-port
enable stpd STPD-MAIN auto-bind vlan Management
enable stpd STPD-MAIN auto-bind vlan UserLAN
enable stpd STPD-MAIN

configure lacp periodic-time fast

enable lldp ports all
configure lldp ports all advertise system-name
configure lldp ports all advertise system-description
configure lldp ports all advertise port-description
configure lldp ports all advertise management-address

configure access-list ACL-MGMT-IN deny src-ip 10.0.0.0/8 dst-ip 10.99.1.1 protocol tcp dst-port 23
configure access-list ACL-MGMT-IN deny src-ip any dst-ip 10.99.1.1 protocol tcp dst-port 23
configure access-list ACL-MGMT-IN permit src-ip 10.99.0.0/24 dst-ip 10.99.1.1 protocol tcp dst-port 22
configure access-list ACL-MGMT-IN permit src-ip 10.99.0.0/24 dst-ip 10.99.1.1 protocol udp dst-port 161
configure access-list ACL-MGMT-IN deny src-ip any dst-ip 10.99.1.1 any

configure access-list ACL-QUARANTINE deny src-ip any dst-ip 10.0.0.0/8 any
configure access-list ACL-QUARANTINE deny src-ip any dst-ip 172.16.0.0/12 any
configure access-list ACL-QUARANTINE deny src-ip any dst-ip 192.168.0.0/16 any

configure telnet disable

configure banner "WARNING: Authorized access only. All activity is logged and monitored."

enable ssh2
configure ssh2 key-exchange ecdh-sha2-nistp256
configure ssh2 ciphers aes256-ctr
configure ssh2 mac hmac-sha2-256

create account admin "admin" password "$1$adminhashedpassword"
create account netops "netops" password "$1$netopshashedpassword"
configure account admin privilege read-write
configure account netops privilege read-only

configure radius netlogin primary shared-secret "$1$radiussharedsecret" 10.0.0.20 1812
enable radius
enable radius netlogin

configure log target memory-buffer filter DEFAULT-LOG-FILTER severity debug-verbose
configure log target console filter DEFAULT-LOG-FILTER severity warning
configure log filter DEFAULT-LOG-FILTER add events all

configure system temperature-guard threshold 65
