#
# ExtremeXOS version 32.3.1.6 by release-manager
# EXOS-TOR-SW01.2 (SummitStack) - Active Node
#
# Last configuration change at Mon Mar 16 07:18:44 2026
#

configure snmp sysName "EXOS-TOR-SW01"
configure snmp sysLocation "ACME-DC1-ServerRow2-Rack08"
configure snmp sysContact "noc@acme-corp.internal"

configure timezone name EST -5 autodst name EDT

configure dns-client add domain-suffix acme-corp.internal
configure dns-client add name-server 10.100.99.10 vr VR-Default
configure dns-client add name-server 10.100.99.11 vr VR-Default

configure sntp-client primary server 10.100.99.10 vr VR-Default
configure sntp-client secondary server 10.100.99.11 vr VR-Default
enable sntp-client

create account admin admin encrypted "$2y$10$HashedExtremePasswordString12345678901234567890abcdefghij"
create account user netops encrypted "$2y$10$HashedExtremePasswordString98765432109876543210zyxwvutsrqp"

enable ssh2
configure ssh2 key pregenerated
configure ssh2 access-profile mgmt-profile
disable telnet
disable web http
disable web https

create vlan "SERVERS" tag 10
configure vlan "SERVERS" description "Server-VLAN"
configure vlan "SERVERS" ipaddress 10.100.10.8 255.255.255.0
enable ipforwarding vlan "SERVERS"

create vlan "WORKSTATIONS" tag 20
configure vlan "WORKSTATIONS" description "Workstation-VLAN"
configure vlan "WORKSTATIONS" ipaddress 10.100.20.8 255.255.255.0
enable ipforwarding vlan "WORKSTATIONS"

create vlan "MANAGEMENT" tag 99
configure vlan "MANAGEMENT" description "Management-VLAN"
configure vlan "MANAGEMENT" ipaddress 10.100.99.8 255.255.255.0
enable ipforwarding vlan "MANAGEMENT"

create vlan "NATIVE" tag 100
configure vlan "NATIVE" description "Native-VLAN"

configure vlan "Default" delete ports 1-48

configure vlan "SERVERS" add ports 3-12 untagged
configure vlan "SERVERS" add ports 1-2 tagged
configure vlan "WORKSTATIONS" add ports 13-24 untagged
configure vlan "WORKSTATIONS" add ports 1-2 tagged
configure vlan "MANAGEMENT" add ports 47-48 untagged
configure vlan "MANAGEMENT" add ports 1-2 tagged
configure vlan "NATIVE" add ports 1-2 untagged

configure ports 1 description-string "UPLINK-TO-ARISTA-SPINE01 | to ARISTA-SPINE01 Et3"
configure ports 2 description-string "UPLINK-TO-FG-DC-FW01 | to FG-DC-FW01 port3"
configure ports 3 description-string "SERVER-ESXI04-NIC1"
configure ports 4 description-string "SERVER-ESXI04-NIC2"
configure ports 5 description-string "SERVER-ESXI05-NIC1"
configure ports 6 description-string "SERVER-ESXI05-NIC2"
configure ports 7 description-string "SERVER-STORAGE03-NIC1"
configure ports 8 description-string "SERVER-STORAGE03-NIC2"
configure ports 9 description-string "SERVER-BACKUP01-NIC1"
configure ports 10 description-string "SERVER-BACKUP01-NIC2"
configure ports 11 description-string "SERVER-MGMT-IPMI-1"
configure ports 12 description-string "SERVER-MGMT-IPMI-2"
configure ports 13 description-string "WORKSTATION-DC-KVM01"
configure ports 14 description-string "WORKSTATION-DC-KVM02"
configure ports 15-24 description-string "WORKSTATION-DC-PATCH"
configure ports 25-46 description-string "UNUSED"
configure ports 47 description-string "MGMT-CONSOLE-SERVER"
configure ports 48 description-string "MGMT-OOB-SWITCH"

disable ports 25-46

configure ports 1 auto off speed 10000 duplex full
configure ports 2 auto off speed 10000 duplex full

enable jumbo-frame ports 1-12
configure jumbo-frame size 9216

enable stpd s0
configure stpd s0 mode mstp cist
configure stpd s0 ports cost auto 1-2
configure stpd s0 priority 32768

configure stpd s0 ports edge-safeguard enable 3-24
configure stpd s0 ports edge-safeguard enable 47-48

enable ip-security dhcp-snooping vlan "SERVERS"
enable ip-security dhcp-snooping vlan "WORKSTATIONS"
configure ip-security dhcp-snooping information circuit-id port-information port-and-vlan
configure ip-security dhcp-snooping trust ports 1-2

enable ip-security arp-validation vlan "SERVERS"
enable ip-security arp-validation vlan "WORKSTATIONS"
configure ip-security arp-validation trust ports 1-2

enable iproute sharing
configure iproute add default 172.16.0.38 vr VR-Default
configure iproute add 10.0.0.0/8 172.16.0.38 vr VR-Default

enable ospf
configure ospf routerid 10.255.1.8
configure ospf add vlan "SERVERS" area 0.0.0.0 passive
configure ospf add vlan "WORKSTATIONS" area 0.0.0.0 passive
configure ospf add vlan "MANAGEMENT" area 0.0.0.0 passive

configure snmp add community readOnly "rO-exos-tor01!" name acme-snmp
configure snmp add trapreceiver 10.100.99.50 community "rO-exos-tor01!"

enable syslog
configure syslog add 10.100.99.50:514 vr VR-Default local7 warning
configure syslog add 10.100.99.51:514 vr VR-Default local7 error

create access-list mgmt-acl "source-address 10.100.99.0/24;" "permit"
configure access-list add mgmt-acl first "source-address 0.0.0.0/0;" "deny"
create access-profile mgmt-profile type none
configure access-profile mgmt-profile add mgmt-acl

enable lldp ports all

configure banner before-login acknowledge
===========================================================
  ACME Corp - EXOS-TOR-SW01 - DC Top-of-Rack
  Unauthorized access is prohibited.
===========================================================

