#
# Module devmgr configuration
#
configure snmp sysName "EXTREME-ACCESS-SW02"
configure snmp sysLocation "DC1-Row4-Rack10"
configure snmp sysContact "netops@lab.internal"
#
# ExtremeXOS version 31.7.1.4 by release-manager
# Creation time: Thu Jan 15 14:30:00 UTC 2026
# BootROM: 1.1.4.8
# Switch: X440-G2-48t-10GE4
#
configure timezone name UTC 0
configure timezone automatic-dst disabled

configure dns-client add name-server 10.0.0.10
configure dns-client add name-server 10.0.0.11
configure dns-client add domain-suffix lab.internal

configure ntp server add 10.0.0.10 prefer
configure ntp server add 10.0.0.11
enable ntp

configure syslog add 10.0.0.50:514 vr VR-Default local0 debug
enable syslog

configure snmp add community readonly "$snmpaccesssw02pass"
configure snmp add community readwrite "$snmpaccesssw02rwpass"
configure snmp add trapreceiver 10.0.0.50 community "$snmptrapcomm2"
enable snmp access
enable snmp traps

create vlan "Management" tag 99
create vlan "UserLAN" tag 10
create vlan "Voice" tag 20
create vlan "Servers" tag 30
create vlan "GuestWiFi" tag 40
create vlan "Quarantine" tag 999
create vlan "PrinterVLAN" tag 50

configure vlan Management ipaddress 10.99.1.2/24
configure vlan Management description "OOB Management VLAN"
enable ipforwarding vlan Management

configure vlan UserLAN description "End User Workstations"
configure vlan Voice description "IP Telephony"
configure vlan Servers description "Server Farm"
configure vlan GuestWiFi description "Guest Wireless"
configure vlan Quarantine description "Quarantine - No Access"
configure vlan PrinterVLAN description "Network Printers"

configure vlan Management add port 1 tagged
configure vlan Management add port 2 tagged
configure vlan Management add port 48 untagged

configure vlan UserLAN add port 1 tagged
configure vlan UserLAN add port 2 tagged
configure vlan UserLAN add port 5 untagged
configure vlan UserLAN add port 6 untagged
configure vlan UserLAN add port 7 untagged
configure vlan UserLAN add port 8 untagged
configure vlan UserLAN add port 9 untagged
configure vlan UserLAN add port 10 untagged
configure vlan UserLAN add port 11 untagged
configure vlan UserLAN add port 12 untagged
configure vlan UserLAN add port 13 untagged
configure vlan UserLAN add port 14 untagged
configure vlan UserLAN add port 15 untagged
configure vlan UserLAN add port 16 untagged
configure vlan UserLAN add port 17 untagged
configure vlan UserLAN add port 18 untagged
configure vlan UserLAN add port 19 untagged
configure vlan UserLAN add port 20 untagged

configure vlan Voice add port 1 tagged
configure vlan Voice add port 2 tagged
configure vlan Voice add port 5 tagged
configure vlan Voice add port 6 tagged
configure vlan Voice add port 7 tagged
configure vlan Voice add port 8 tagged
configure vlan Voice add port 9 tagged
configure vlan Voice add port 10 tagged
configure vlan Voice add port 11 tagged
configure vlan Voice add port 12 tagged
configure vlan Voice add port 13 tagged
configure vlan Voice add port 14 tagged
configure vlan Voice add port 15 tagged
configure vlan Voice add port 16 tagged
configure vlan Voice add port 17 tagged
configure vlan Voice add port 18 tagged
configure vlan Voice add port 19 tagged
configure vlan Voice add port 20 tagged

configure vlan Servers add port 1 tagged
configure vlan Servers add port 2 tagged
configure vlan Servers add port 21 untagged
configure vlan Servers add port 22 untagged
configure vlan Servers add port 23 untagged
configure vlan Servers add port 24 untagged

configure vlan GuestWiFi add port 1 tagged
configure vlan GuestWiFi add port 25 untagged
configure vlan GuestWiFi add port 26 untagged
configure vlan GuestWiFi add port 27 untagged

configure vlan PrinterVLAN add port 1 tagged
configure vlan PrinterVLAN add port 28 untagged
configure vlan PrinterVLAN add port 29 untagged
configure vlan PrinterVLAN add port 30 untagged

configure vlan Quarantine add port 31 untagged
configure vlan Quarantine add port 32 untagged
configure vlan Quarantine add port 33 untagged
configure vlan Quarantine add port 34 untagged

configure port 1 description "UPLINK-TO-JUNIPER-DIST-SW01-ge-0/0/3"
configure port 1 auto off speed 10000 duplex full

configure port 2 description "UPLINK-TO-CORE-SW01-Gi0/6"
configure port 2 auto off speed 10000 duplex full

configure port 3 description "INTERSWITCH-TO-EXTREME-ACCESS-SW01-port3"
configure port 3 auto off speed 1000 duplex full

configure port 4 description "SPARE-TRUNK-RESERVED"
disable port 4

configure port 5 description "USER-DESK-R4-01"
configure port 5 auto on
configure port 5 lldp port 5 advertise dot3-tlvs

configure port 6 description "USER-DESK-R4-02"
configure port 6 auto on
configure port 6 lldp port 6 advertise dot3-tlvs

configure port 7 description "USER-DESK-R4-03"
configure port 7 auto on

configure port 8 description "USER-DESK-R4-04"
configure port 8 auto on

configure port 9 description "USER-DESK-R4-05"
configure port 9 auto on

configure port 10 description "USER-DESK-R4-06"
configure port 10 auto on

configure port 11 description "USER-DESK-R4-07"
configure port 11 auto on

configure port 12 description "USER-DESK-R4-08"
configure port 12 auto on

configure port 13 description "USER-DESK-R4-09"
configure port 13 auto on

configure port 14 description "USER-DESK-R4-10"
configure port 14 auto on

configure port 15 description "USER-DESK-R4-11"
configure port 15 auto on

configure port 16 description "USER-DESK-R4-12"
configure port 16 auto on

configure port 17 description "USER-DESK-R4-13"
configure port 17 auto on

configure port 18 description "USER-DESK-R4-14"
configure port 18 auto on

configure port 19 description "USER-DESK-R4-15"
configure port 19 auto on

configure port 20 description "USER-DESK-R4-16"
configure port 20 auto on

configure port 21 description "SERVER-WEB01"
configure port 21 auto off speed 1000 duplex full

configure port 22 description "SERVER-WEB02"
configure port 22 auto off speed 1000 duplex full

configure port 23 description "SERVER-DB01"
configure port 23 auto off speed 1000 duplex full

configure port 24 description "SERVER-DB02"
configure port 24 auto off speed 1000 duplex full

configure port 25 description "AP-GUEST-4A"
configure port 25 auto on

configure port 26 description "AP-GUEST-4B"
configure port 26 auto on

configure port 27 description "AP-GUEST-4C"
configure port 27 auto on

configure port 28 description "PRINTER-FLOOR4-A"
configure port 28 auto on

configure port 29 description "PRINTER-FLOOR4-B"
configure port 29 auto on

configure port 30 description "PRINTER-FLOOR4-C"
configure port 30 auto on

configure port 31 description "QUARANTINE-UNUSED-A"
disable port 31

configure port 32 description "QUARANTINE-UNUSED-B"
disable port 32

configure port 33 description "QUARANTINE-UNUSED-C"
disable port 33

configure port 34 description "QUARANTINE-UNUSED-D"
disable port 34

configure port 35 description "SPARE-DISABLED"
disable port 35

configure port 36 description "SPARE-DISABLED"
disable port 36

configure port 37 description "SPARE-DISABLED"
disable port 37

configure port 38 description "SPARE-DISABLED"
disable port 38

configure port 39 description "SPARE-DISABLED"
disable port 39

configure port 40 description "SPARE-DISABLED"
disable port 40

configure port 41 description "SPARE-DISABLED"
disable port 41

configure port 42 description "SPARE-DISABLED"
disable port 42

configure port 43 description "SPARE-DISABLED"
disable port 43

configure port 44 description "SPARE-DISABLED"
disable port 44

configure port 45 description "SPARE-DISABLED"
disable port 45

configure port 46 description "SPARE-DISABLED"
disable port 46

configure port 47 description "SPARE-DISABLED"
disable port 47

configure port 48 description "MGMT-CONSOLE-ACCESS"
configure port 48 auto on

configure stpd s0 delete port all
disable stpd s0 auto-bind vlan Default
create stpd STPD-MAIN
configure stpd STPD-MAIN mode mstp
configure stpd STPD-MAIN priority 16384
configure stpd STPD-MAIN add vlan Management ports all tagged
configure stpd STPD-MAIN add vlan UserLAN ports all tagged
configure stpd STPD-MAIN add vlan Voice ports all tagged
configure stpd STPD-MAIN add vlan Servers ports all tagged
configure stpd STPD-MAIN add vlan PrinterVLAN ports all tagged
configure stpd STPD-MAIN ports 1 edge-safeguard enable
configure stpd STPD-MAIN ports 2 edge-safeguard enable
configure stpd STPD-MAIN ports 5-20 edge-port
configure stpd STPD-MAIN ports 21-24 edge-port
configure stpd STPD-MAIN ports 28-30 edge-port
enable stpd STPD-MAIN auto-bind vlan Management
enable stpd STPD-MAIN auto-bind vlan UserLAN
enable stpd STPD-MAIN

enable lldp ports all
configure lldp ports all advertise system-name
configure lldp ports all advertise system-description
configure lldp ports all advertise port-description
configure lldp ports all advertise management-address

configure access-list ACL-MGMT-IN deny src-ip any dst-ip 10.99.1.2 protocol tcp dst-port 23
configure access-list ACL-MGMT-IN permit src-ip 10.99.0.0/24 dst-ip 10.99.1.2 protocol tcp dst-port 22
configure access-list ACL-MGMT-IN permit src-ip 10.99.0.0/24 dst-ip 10.99.1.2 protocol udp dst-port 161
configure access-list ACL-MGMT-IN deny src-ip any dst-ip 10.99.1.2 any

configure access-list ACL-PRINTER-ISOLATION deny src-ip 192.168.0.0/16 dst-ip 192.168.0.0/16 any
configure access-list ACL-PRINTER-ISOLATION permit src-ip 10.10.10.0/24 dst-ip any protocol tcp dst-port 631
configure access-list ACL-PRINTER-ISOLATION permit src-ip 10.10.10.0/24 dst-ip any protocol tcp dst-port 515

configure telnet disable

configure banner "WARNING: Authorized access only. All activity is logged."

enable ssh2
configure ssh2 ciphers aes256-ctr
configure ssh2 mac hmac-sha2-256

create account admin "admin" password "$1$sw02adminpasswordhash"
create account netops "netops" password "$1$sw02netopspasswordhash"
configure account admin privilege read-write
configure account netops privilege read-only

configure radius netlogin primary shared-secret "$1$sw02radiuskey" 10.0.0.20 1812
enable radius
enable radius netlogin
