; HP J9729A 2920-48G-PoE+ Switch
; Software revision WC.16.11.0014
; ROM Version : WC.17.02.0009
; Copyright (C) Hewlett Packard Enterprise Development LP

hostname "ARUBA-WLAN-SW01"

module 1 type j9729a

snmp-server community "rO-aruba-wlan01!" operator
snmp-server community "wR-aruba-wlan01!" manager
snmp-server host 10.100.99.50 community "rO-aruba-wlan01!" trap-level all
snmp-server contact "noc@acme-corp.internal"
snmp-server location "ACME-BldgA-Floor3-IDF-B"

timesync ntp
ntp server 10.100.99.10 prefer
ntp server 10.100.99.11
ntp enable

time timezone -300
time daylight-time-rule continental-us-and-canada

ip dns domain-name "acme-corp.internal"
ip dns server-address priority 1 10.100.99.10
ip dns server-address priority 2 10.100.99.11

ip default-gateway 10.100.99.1

ip ssh version 2
ip ssh cipher aes256-ctr aes128-ctr
ip ssh mac hmac-sha2-256 hmac-sha1
no telnet-server

password manager user-name "admin" sha1 "5baa61e4c9b93f3f0682250b6cf8331b7ee68fd8"
password operator user-name "netops" sha1 "a94a8fe5ccb19ba61c4c0873d391e987982fbbd3"

aaa authentication console login local
aaa authentication console enable local
aaa authentication ssh login local
aaa authentication ssh enable local
aaa port-access authenticator active

vlan 1
   name "DEFAULT"
   no untagged 1-48
   no ip address
   exit

vlan 40
   name "WIRELESS"
   tagged 1/1,1/2
   untagged 1/3-1/24
   ip address 10.100.40.7 255.255.255.0
   ip helper-address 10.100.99.10
   exit

vlan 99
   name "MANAGEMENT"
   tagged 1/1,1/2
   untagged 1/47,1/48
   ip address 10.100.99.7 255.255.255.0
   exit

vlan 100
   name "NATIVE"
   untagged 1/1,1/2
   no ip address
   exit

vlan 999
   name "BLACKHOLE"
   untagged 1/25-1/46
   no ip address
   exit

interface 1/1
   name "UPLINK-TO-HW-DIST-SW01 | to HW-DIST-SW01 GE0/0/4"
   flow-control
   exit

interface 1/2
   name "CROSS-LINK-TO-IOS-ACCESS-SW03 | to IOS-ACCESS-SW03 Gi0/3"
   flow-control
   exit

interface 1/3
   name "WAP-F3-AP03"
   exit

interface 1/4
   name "WAP-F3-AP04"
   exit

interface 1/5
   name "WAP-F3-AP05"
   exit

interface 1/6
   name "WAP-F3-AP06"
   exit

interface 1/7
   name "WAP-F3-AP07"
   exit

interface 1/8
   name "WAP-F3-AP08"
   exit

interface 1/9
   name "WAP-F3-AP09"
   exit

interface 1/10
   name "WAP-F3-AP10"
   exit

interface 1/11
   name "WAP-F3-AP11"
   exit

interface 1/12
   name "WAP-F3-AP12"
   exit

interface 1/13
   name "WAP-F2-AP01"
   exit

interface 1/14
   name "WAP-F2-AP02"
   exit

interface 1/15
   name "WAP-F2-AP03"
   exit

interface 1/16
   name "WAP-F2-AP04"
   exit

interface 1/17
   name "WAP-F2-AP05"
   exit

interface 1/18
   name "WAP-F2-AP06"
   exit

interface 1/19
   name "WAP-F1-AP01"
   exit

interface 1/20
   name "WAP-F1-AP02"
   exit

interface 1/21
   name "WAP-F1-AP03"
   exit

interface 1/22
   name "WAP-F1-AP04"
   exit

interface 1/23
   name "LOBBY-DISPLAY-01"
   exit

interface 1/24
   name "CONF-ROOM-AP01"
   exit

interface 1/25-1/46
   name "UNUSED"
   disable
   exit

interface 1/47
   name "MGMT-CONSOLE"
   exit

interface 1/48
   name "MGMT-OOB"
   exit

spanning-tree
spanning-tree mode mstp
spanning-tree priority 12

spanning-tree 1/1 admin-edge-port
spanning-tree 1/2 admin-edge-port
spanning-tree 1/3-1/24 admin-edge-port bpdu-protection
spanning-tree 1/47-1/48 admin-edge-port bpdu-protection

lldp run
lldp config 1/1-1/48 basicTlvEnable system-name system-description port-description management-address

ip route 0.0.0.0 0.0.0.0 10.100.99.1

logging 10.100.99.50 severity warning
logging 10.100.99.51 severity error

ip authorized-managers 10.100.99.0 255.255.255.0 access manager

banner motd "%
===========================================================
  ACME Corp - ARUBA-WLAN-SW01 - Wireless Infrastructure
  Unauthorized access is prohibited.
===========================================================
%"

