; J9850A Configuration Editor; Created on release #KB.16.11.0013

hostname "HPE-ARUBA-CORE-SW01"

; HP ProCurve Switch 5406R zl2

time timezone 0
time daylight-time-rule None

ip routing
ip route 0.0.0.0 0.0.0.0 10.1.0.14
ip route 10.0.0.0 255.0.0.0 10.1.0.14

snmp-server community "$snmpcommhq" operator
snmp-server community "$snmpcommrw" manager
snmp-server host 10.0.0.50 community "$snmptrapkey"
snmp-server location "DC1-Row2-Rack5"
snmp-server contact "netops@lab.internal"
snmp-server enable traps

ntp server 10.0.0.10
ntp server 10.0.0.11
ntp enable

logging 10.0.0.50
logging facility local0
logging notify running-config-change

aaa authentication login privilege-mode
aaa authentication console login radius local
aaa authentication telnet login radius local
radius-server host 10.0.0.20 key "$radiuskey789"

no telnet-server
crypto key generate ssh
ip ssh
ip ssh port 22
ip ssh version 2
ip ssh filetransfer

password manager all "$1$managerpasshash"
password operator all "$1$operatorpasshash"

vlan 1
   name "DEFAULT"
   no untagged 1-48
   no ip address

vlan 10
   name "User-LAN"
   untagged A1-A12
   tagged 25,26,27,28
   ip address 10.10.10.3 255.255.255.0

vlan 20
   name "Voice"
   untagged A13-A18
   tagged 25,26,27,28
   ip address 10.10.20.3 255.255.255.0

vlan 30
   name "Servers"
   untagged B1-B8
   tagged 25,26,27
   ip address 10.10.30.3 255.255.255.0

vlan 40
   name "DMZ"
   untagged B9-B12
   tagged 25,26
   ip address 10.20.40.3 255.255.255.0

vlan 99
   name "Management"
   untagged 24
   tagged 25,26,27,28
   ip address 10.99.0.3 255.255.255.0

interface 1
   name "USER-DESK-1A-01"
   speed-duplex auto-1000fdx
   flow-control

interface 2
   name "USER-DESK-1A-02"
   speed-duplex auto-1000fdx

interface 3
   name "USER-DESK-1A-03"
   speed-duplex auto-1000fdx

interface 13
   name "SERVER-APP01"
   speed-duplex 1000-full

interface 14
   name "SERVER-APP02"
   speed-duplex 1000-full

interface 15
   name "SERVER-DB01"
   speed-duplex 1000-full

interface 24
   name "MGMT-CONSOLE-ACCESS"
   speed-duplex auto

interface 25
   name "UPLINK-TO-ARISTA-CORE-SW01-Eth4"
   speed-duplex 10000-full

interface 26
   name "UPLINK-TO-ARISTA-DIST-SW02-Eth5"
   speed-duplex 10000-full

interface 27
   name "DOWNLINK-TO-HPE-ACCESS-SW02-25"
   speed-duplex 1000-full

interface 28
   name "SPARE-TRUNK-DISABLED"
   disable

trunk 25,26 trk1 lacp
name trk1 "LAG-TO-ARISTA-UPLINKS"

spanning-tree
spanning-tree priority 4096
spanning-tree instance 1 vlan 10 20 30 40 99
spanning-tree 1-24 edge-port bpdu-protection

router ospf
   area backbone
   redistribute connected

interface loopback 0
   ip address 10.255.0.3 255.255.255.255
   ip ospf area backbone

ip access-list standard "MGMT-ACL"
   10 permit 10.99.0.0 0.0.0.255
   20 deny any

ip access-list extended "GUEST-RESTRICT"
   10 deny ip 0.0.0.0 255.255.255.255 10.30.0.0 0.0.0.255
   20 deny ip 0.0.0.0 255.255.255.255 10.50.0.0 0.0.0.255
   30 permit ip 0.0.0.0 255.255.255.255 0.0.0.0 255.255.255.255

lldp run
lldp admin-status 1-48 tx_rx

dhcp-relay
ip helper-address vlan 10 10.10.30.5
ip helper-address vlan 20 10.10.30.5
