; J9773A Configuration Editor; Created on release #YA.16.04.0015

hostname "HPE-ARUBA-ACCESS-SW02"

; HP ProCurve 2530-24G

time timezone 0
time daylight-time-rule None

snmp-server community "$snmpcommhq2" operator
snmp-server host 10.0.0.50 community "$snmptrap2"
snmp-server location "DC1-Row2-Rack6"
snmp-server contact "netops@lab.internal"

ntp server 10.0.0.10
ntp enable

logging 10.0.0.50

aaa authentication login privilege-mode
aaa authentication console login radius local
radius-server host 10.0.0.20 key "$radiuskey456"

no telnet-server
ip ssh
ip ssh version 2

password manager all "$1$mgrhash2"
password operator all "$1$oprhash2"

vlan 1
   name "DEFAULT"
   no untagged 1-24
   no ip address

vlan 10
   name "User-LAN"
   untagged 3-12
   tagged 1,2

vlan 20
   name "Voice"
   untagged 13-18
   tagged 1,2
   voice

vlan 30
   name "Servers"
   untagged 19-22
   tagged 1,2

vlan 99
   name "Management"
   untagged 24
   tagged 1,2
   ip address 10.99.1.3 255.255.255.0

interface 1
   name "UPLINK-TO-HPE-CORE-SW01-27"
   speed-duplex 1000-full

interface 2
   name "UPLINK-TO-ARISTA-DIST-SW02-Eth4"
   speed-duplex 1000-full

interface 3
   name "USER-DESK-2B-01"
   speed-duplex auto

interface 4
   name "USER-DESK-2B-02"
   speed-duplex auto

interface 5
   name "USER-DESK-2B-03"
   speed-duplex auto

interface 6
   name "USER-DESK-2B-04"
   speed-duplex auto

interface 7
   name "USER-DESK-2B-05"
   speed-duplex auto

interface 8
   name "USER-DESK-2B-06"
   speed-duplex auto

interface 13
   name "PHONE-2B-01"
   speed-duplex auto

interface 14
   name "PHONE-2B-02"
   speed-duplex auto

interface 15
   name "PHONE-2B-03"
   speed-duplex auto

interface 19
   name "SERVER-PRINT01"
   speed-duplex 1000-full

interface 20
   name "SERVER-PRINT02"
   speed-duplex 1000-full

interface 23
   name "SPARE-DISABLED"
   disable

interface 24
   name "MGMT-OOB-ACCESS"
   speed-duplex auto

spanning-tree
spanning-tree priority 16384
spanning-tree 3-22 edge-port bpdu-protection

lldp run
lldp admin-status 1-24 tx_rx

ip access-list standard "MGMT-ACL"
   10 permit 10.99.0.0 0.0.0.255
   20 deny any

ip route 0.0.0.0 0.0.0.0 10.99.1.1
