#
# Jan 15 2026 09:30:00+00:00
# VRP (R) software, Version 5.160 (S5735 V200R019C10SPC800)
# Copyright (C) 2000-2023 Huawei Technologies Co., Ltd.
#
sysname HUAWEI-ACCESS-SW02
#
info-center loghost 10.0.0.50
#
vlan batch 10 20 30 99
#
vlan 10
 description User-LAN
#
vlan 20
 description Voice
#
vlan 30
 description Servers
#
vlan 99
 description Management
#
radius-server template RADIUS-TMPL
 radius-server authentication 10.0.0.20 1812
 radius-server shared-key cipher "$1$radiuskeyaccess456"
#
interface GigabitEthernet0/0/1
 description UPLINK-TO-HUAWEI-CORE-SW01-GE0/0/3
 undo shutdown
 port link-type trunk
 port trunk pvid vlan 99
 port trunk allow-pass vlan 10 20 30 99
#
interface GigabitEthernet0/0/2
 description UPLINK-TO-ARISTA-DIST-SW02-Eth2
 undo shutdown
 port link-type trunk
 port trunk allow-pass vlan 10 20 99
#
interface GigabitEthernet0/0/3
 description USER-DESK-3A-01
 undo shutdown
 port link-type access
 port default vlan 10
 stp edged-port enable
#
interface GigabitEthernet0/0/4
 description USER-DESK-3A-02
 undo shutdown
 port link-type access
 port default vlan 10
 stp edged-port enable
#
interface GigabitEthernet0/0/5
 description USER-DESK-3A-03
 undo shutdown
 port link-type access
 port default vlan 10
 stp edged-port enable
#
interface GigabitEthernet0/0/6
 description USER-DESK-3A-04
 undo shutdown
 port link-type access
 port default vlan 10
 stp edged-port enable
#
interface GigabitEthernet0/0/7
 description PHONE-3A-01
 undo shutdown
 port link-type access
 port default vlan 20
 stp edged-port enable
#
interface GigabitEthernet0/0/8
 description PHONE-3A-02
 undo shutdown
 port link-type access
 port default vlan 20
 stp edged-port enable
#
interface GigabitEthernet0/0/9
 description PHONE-3A-03
 undo shutdown
 port link-type access
 port default vlan 20
 stp edged-port enable
#
interface GigabitEthernet0/0/10
 description SERVER-PRINT01
 undo shutdown
 port link-type access
 port default vlan 30
 storm-suppression multicast 20
#
interface GigabitEthernet0/0/11
 description SERVER-NAS01
 undo shutdown
 port link-type access
 port default vlan 30
#
interface GigabitEthernet0/0/23
 description SPARE-DISABLED
 shutdown
#
interface GigabitEthernet0/0/24
 description MGMT-CONSOLE-ACCESS
 undo shutdown
 port link-type access
 port default vlan 99
#
interface Vlanif99
 description Management-Interface
 ip address 10.99.1.4 255.255.255.0
#
ip route-static 0.0.0.0 0.0.0.0 10.99.1.1
#
stp mode mstp
stp priority 32768
stp enable
stp edged-port default
#
acl 2000
 description MGMT-SSH-ACL
 rule 10 permit source 10.99.0.0 0.0.0.255
 rule 20 deny source any
#
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
 acl 2000 inbound
#
snmp-agent
snmp-agent community read cipher "$1$snmpcommaccess"
snmp-agent trap enable
snmp-agent target-host trap address udp-domain 10.0.0.50 params securityname "$1$snmptraphwaccess"
snmp-agent sys-info contact netops@lab.internal
snmp-agent sys-info location DC1-Row3-Rack8
snmp-agent sys-info version v2c
#
ntp-service unicast-server 10.0.0.10
#
lldp enable
#
return
